.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

:root {
	--one-text-color: #212121;
	--two-text-color: #2196f3;
	--three-text-color: #000000;
	--four-text-color: #757575;
	--five-text-color: #ffffff;
	--six-text-color: #2f303a;
}

body {
	font-family: "Roboto", "sans-serif";
	color: var(--five-text-color);
}
/* =======Header======== */
.menu-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;

	color: var(--one-text-color);
}
.menu-link:hover,
.menu-link:focus,
.menu-link:current {
	color: var(--two-text-color);
}

.navigation .current {
	color: var(--two-text-color);
}

.filter-list:current {
	color: var(--two-text-color);
}

.logo-span {
	font-family: "Raleway", "sans-serif";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;

	color: var(--three-text-color);
}

.logo {
	font-family: "Raleway", "sans-serif";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;

	color: var(--two-text-color);
}

.contact-phone-number {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
	font-style: normal;

	color: var(--four-text-color);
}

.link:hover,
.link:focus {
	color: var(--two-text-color);
}

/* =======/Header======== */

/* =======HERO======== */
.modal-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.85;
	letter-spacing: 0.06em;
	cursor: pointer;
	font-family: inherit;

	color: var(--five-text-color);
	background: var(--two-text-color);
}

.modal-btn:hover {
	background-color: #188ce8;
}

.motto {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.37;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--five-text-color);
}

.container-hero {
	background: var(--six-text-color);
}

/* =======/HERO======== */

/* =======MainSection======== */
.advantage {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--one-text-color);
}

.advantage-comands {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--one-text-color);
}

.advantage-two {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--one-text-color);
}

.media-list {
	font-size: 16px;
	line-height: 2.25;
	letter-spacing: 0.03em;

	color: #757575;
}

.suptitle {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--one-text-color);
}

/* =======/MainSection======== */

/* =======PORTFOLIO======== */
.filter-list {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--one-text-color);
}

.filter-list:focus,
.filter-list:hover {
	background: var(--two-text-color);
	color: var(--five-text-color);
}
/* =======/PORTFOLIO======== */

/* =======FOTER======== */
.container-footer {
	background-color: var(--six-text-color);
}

.adress {
	font-family: "Roboto", "sans-serif";
	font-style: normal;
	color: var(--five-text-color);
	font-size: 14px;
	line-height: 2;
}

.logo-span-footer {
	font-family: "Raleway", "sans-serif";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.42;
	letter-spacing: 0.03em;
	color: var(--five-text-color);
}
/* =======/FOTER======== */
